<h4>Edit Events</h4>
<br>

<h5>Events you are attending:</h5>
<br>
{{#each Events}}
<div>
    <h4>{{eventName}}</h4> 
    <h6>{{description}}</h6>
    <br>
</div>
{{/each}}
<br>
<h5>Add Event:</h5>
<div id="profileAddEvents">Coming Soon!</div>