<section id="eventsProducts">
    
        <h3>Vendors at {{eventName}}</h3>
        {{#each event.vendor}}
        <div class= "vendorCard">
        <h4>{{this.name}}</h4>
        </div>
        {{/each}}
    
</section>