<section id="eventsProducts">
    
        <h3>Vendors at {{name}}</h3>
    
    {{#each events}}
    <div class= "productCard">
        <h4>{{Vendor.name}}</h4>
        {{!-- {{#each Products}}
            <div>
                <p>{{name}}</p>
            </div>
        {{/each}} --}}
    </div>
    {{/each}}
</section>