<section id="eventsProducts">
    
        <h3>{{vendorName}}</h3>
        {{#each vendor.Product}}
        <div class= "vendorCard">
        <h4>{{this.name}}</h4>
        </div>
        {{/each}}
    
</section>