<section id="eventsFlex">
    {{#each vendors}}
    <div class= "card">
        <h3><a href="/vendor/{{id}}">{{vendorName}}</a></h3>
        <h4>{{description}}</h4>
    </div>
    {{/each}}
</section>