:root {
  --primary: #283538;
  --secondary: #E7C78E;
  --tertiary: #9B8063;
  --light: #AFC1AB;
}

body {
  background: var(--light);
  flex-direction: column;
  font-family: 'Bebas Neue', cursive;
  font-family: 'Questrial', sans-serif;
}

header {
  color: var(--light);
  background-image: url(./images/pexels-nicole-ashley-rahayu-densmoor-5441998.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: var(--primary);
  margin-bottom: 1%;
  padding-bottom: 3%;
  align-items: center;

}

header h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
  background-image: linear-gradient(rgb(33, 40, 42)), rgba(0, 0, 0, 0.3);
}

h1 {
  color: #f0b44e;
  justify-content: center;
  padding: 30px;
  margin: 50px;
}

h3 {
  color: #f0b44e;
    font-family: Georgia, 'Times New Roman', Times, serif;
  margin: 29px;
}

aside {
  background-color: var(--primary);
  padding: 3%;
  text-align: center;
  /* display: flex; */
  /* display: inline-block; */
  /* flex-direction: column; */
  /* justify-content: flex-start; */
  margin-bottom: 15%;
  border-radius: 5%;
  box-shadow: 2px 2px 3px 2px #F0F2F2;
}

footer {
  flex-shrink: 0;
  padding: 5px;
  color: var(--light);
  background-color: var(--primary);
    margin-top:1%;
}

.sidebar {
  padding: 5%;
  margin: 3px 3px;
  border-bottom: 2px solid rgba(255, 255, 255, 0.646);
}

aside a {
  text-decoration: none;
  color: var(--secondary);
}

.event-Card {
  border: 2px black solid;
}

.btn-success {
  --bs-btn-color: #F0F2F2;
  --bs-btn-bg: #123927;
  --bs-btn-border-color: #123927;
  --bs-btn-hover-color: #F0F2F2;
  --bs-btn-hover-bg: #123927;
  --bs-btn-hover-border-color: #123927;
  --bs-btn-focus-shadow-rgb: 60, 153, 110;
  --bs-btn-active-color: #F0F2F2;
  --bs-btn-active-bg: #123927;
  --bs-btn-active-border-color: #123927;
  --bs-btn-active-shadow: inset 0 3px 5pxrgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #F0F2F2;
  --bs-btn-disabled-bg: #6fb795;
  --bs-btn-disabled-border-color: #6fb795;
}

.btn-primary {
  --bs-btn-color: #F0F2F2;
  --bs-btn-bg: #7d9d7e;
  --bs-btn-border-color: #ade1ae --bs-btn-hover-color: #F0F2F2;
  --bs-btn-hover-bg: #ade1ae;
  --bs-btn-hover-border-color: #ade1ae;
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: #F0F2F2;
  --bs-btn-active-bg: #ade1ae;
  --bs-btn-active-border-color: #549374;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #F0F2F2;
  --bs-btn-disabled-bg: #549374;
  --bs-btn-disabled-border-color: #549374;
  --bs-dropdown-link-active-bg: #03270e;
}

main{

  display: flex;
  justify-content: space-around;
  flex-direction: wrap;
  margin-bottom: 8%;
}



.card{
  margin-bottom: 2px;
  background-color: var(--secondary);
  padding: 5px;
}

.card a{
  color: var(--primary);

}

#imgJumbo {
    background-image: url(./images/knickknackcats.jpg);
}

a {
  color: #f0b44e;
    text-decoration: underline;
}
/* Media!! */

/* tiny screens -- 576px & below */
/* @media only screen and (max-width: 576px) {
    body {
      width: 50%
    }
  }
  /* small screens -- 576px & up */
/* @media only screen and (min-width: 576px) {
    body {
      width: 33%
    }
  }
  /* medium screens -- 768px and up */
/* @media only screen and (min-width: 768px) {
    body {
      width: 20%
    }
  } */

/* large screens -- 992px and up */
/* @media only screen and (min-width: 992px) {
    body {
      width: 20%
    }
  } */

/* extra large screens -- 1200px and up */
/* @media only screen and (min-width: 1200px) {
    body {
      width: 20%
    }
  } 