:root {
  --primary: #283538;
  --secondary: #E7C78E;
  --tertiary: #9B8063;
  --light: #AFC1AB;
}

body {
  background: var(--light);
  flex-direction: column;
  font-family: 'Bebas Neue', cursive;
  font-family: 'Questrial', sans-serif;
}

header {
  color: var(--light);
  background-image: url(./images/pexels-nicole-ashley-rahayu-densmoor-5441998.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: var(--primary);
  margin-bottom: 1%;
  padding-bottom: 3%;
  align-items: center;

}

header h1 {
  font-family: 'Rozha One', serif;
  background-image: linear-gradient(rgb(33, 40, 42)), rgba(0, 0, 0, 0.3);
}

h1 {
  color: #f0b44e;
  justify-content: center;
  padding: 30px;
  margin: 50px;
}

h2 {
  color: #E7C78E;
  font-family: 'Rozha One', serif;

}

h3 {
  color: #f0b44e;
  font-family: 'Rozha One', serif;
  margin: 29px;
}

h4 {
  color: #554f43;
}

main {
  display: flex;
  justify-content: space-around;
  flex-direction: wrap;
  padding: 50px;
  /* margin-bottom: 5%; */
}

section {
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 50px;
}

aside {
  background-color: var(--primary);
  padding: 3%;
  text-align: center;
  /* display: flex; */
  /* display: inline-block; */
  /* flex-direction: column; */
  /* justify-content: flex-start; */
  margin-bottom: auto;
  /* margin-left: 50px; */
  margin-top: 50px;
  border-radius: 5%;
  box-shadow: 2px 2px 3px 2px #F0F2F2;
}

div#oneEvent, div#twoEvent, div#threeEvent {
  font-weight: 600!important;
  font-size:larger;
  padding: 5px!important;
}

div#oneEventDates, div#twoEventDates, div#threeEventDates {
  font-weight: 300!important;
  font-size:small!important;
  padding: 5px!important;
  color: rgba(245, 245, 245, 0.745);
  text-align: center;
  justify-content:center;
}

div.address, div.messaging, div.phone{
  font-weight: 600!important;
  font-size: medium!important;
  padding: 5px!important;
  color: rgba(245, 245, 245, 0.745);
}

footer {
  flex-shrink: 0;
  padding: 3%;
  color: var(--light);
  background-color: var(--primary);
  margin-top:1%;
}

.sidebar {
  padding: 5%;
  margin: 3px 3px;
  border-bottom: 2px solid rgba(255, 255, 255, 0.646);
}

aside a {
  text-decoration: none;
  color: var(--secondary);
}

.event-Card {
  border: 2px rgb(0, 0, 0) solid;
}

.card {
  margin-bottom: 10px;
  background-color: var(--secondary)!important;
  padding: 5px;
}

a {
  color: #f0b44e;
    text-decoration: none;
}

.card a {
color: var(--tertiary)!important;
font-family: 'Rozha One', serif;
} 

a:hover {
  color: whitesmoke!important;
}

#vendorCats {
  background-image: url(./images/knickknackcats.jpg);
  background-size: cover;
  width: 400px;
  height: 400px;
  border-radius: 10%;
  /* padding-top: 20%; */
  flex-direction: column;
  display: flex;
}

#signup-form {
  /* padding-top: 20%; */
  flex-direction: column;
  position: relative;
  display: block;
}

/* jumbotron {
  padding-top: 20%;
  padding: 30px;
} */

#userContent{
  display: block;
}

#userEvents, #userProducts{
  display: none;
}



legend, label {
  font-family: 'Rozha One', serif;
  color: #123927;
}

.btn-success {
  --bs-btn-color: #F0F2F2;
  --bs-btn-bg: #123927;
  --bs-btn-border-color: #123927;
  --bs-btn-hover-color: #F0F2F2;
  --bs-btn-hover-bg: #123927;
  --bs-btn-hover-border-color: #123927;
  --bs-btn-focus-shadow-rgb: 60, 153, 110;
  --bs-btn-active-color: #F0F2F2;
  --bs-btn-active-bg: #123927;
  --bs-btn-active-border-color: #123927;
  --bs-btn-active-shadow: inset 0 3px 5pxrgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #F0F2F2;
  --bs-btn-disabled-bg: #6fb795;
  --bs-btn-disabled-border-color: #6fb795;
}

.btn-primary {
  --bs-btn-color: #F0F2F2;
  --bs-btn-bg: #7d9d7e;
  --bs-btn-border-color: #ade1ae --bs-btn-hover-color: #F0F2F2;
  --bs-btn-hover-bg: #ade1ae;
  --bs-btn-hover-border-color: #ade1ae;
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: #F0F2F2;
  --bs-btn-active-bg: #ade1ae;
  --bs-btn-active-border-color: #549374;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #F0F2F2;
  --bs-btn-disabled-bg: #549374;
  --bs-btn-disabled-border-color: #549374;
  --bs-dropdown-link-active-bg: #03270e;
  margin: 15px!important;
}

.cloudinary-button {
  --bs-btn-color: #F0F2F2!important;
  --bs-btn-bg: #7d9d7e!important;
  --bs-btn-border-color: #ade1ae --bs-btn-hover-color: #F0F2F2!important;
  --bs-btn-hover-bg: #ade1ae!important;
  --bs-btn-hover-border-color: #ade1ae!important;
  --bs-btn-focus-shadow-rgb: 49, 132, 253!important;
  --bs-btn-active-color: #F0F2F2!important;
  --bs-btn-active-bg: #ade1ae!important;
  --bs-btn-active-border-color: #549374!important;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125)!important;
  --bs-btn-disabled-color: #F0F2F2!important;
  --bs-btn-disabled-bg: #549374!important;
  --bs-btn-disabled-border-color: #549374!important;
  --bs-dropdown-link-active-bg: #03270e!important;
  margin: 15px!important;
}

#button {
  display:inline;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #a44ef0;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
  text-decoration: none;
  position: sticky;
}

#button:hover {
  background-color: #d504ff;
  text-decoration: none;

}

/* Media!!

/* tiny screens -- 576px & below */
 /* @media only screen and (max-width: 576px) {
main, aside, form-class, header, footer {
  width: 100%;
  }
}  */
